<div class="container py-4">
    <h3 class="text-start mb-4 fw-bold" style="color: #332588;">Quizzes</h3>

    <div class="quiz-list">
        <div *ngFor="let room of rooms" class="quiz-item d-flex justify-content-between align-items-center bg-white p-3 rounded shadow-sm mb-3">
            <div class="quiz-info">
                <h5 class="fw-bold" style="color: #332588;">{{ room.name }}</h5>
                <p style="color: #332588;" class="mb-1">Open: {{ room.opendate }}</p>
                <p style="color: #332588;">Close: {{ room.closedate }}</p>
            </div>


            <div *ngIf="room.name === 'Network'" class="quiz-actions d-flex flex-column align-items-center gap-2">
                <button class="btn btn-primary fw-bold" style="background-color: #332588; color: white;">Done</button>
                <span class="btn btn-primary fw-bold" style="background-color: #276FBF; color: #FFFFFF;">8/10</span>
            </div>

            <div *ngIf="room.name === 'Math'" class="quiz-actions d-flex flex-column align-items-center gap-2">
                <button (click)="goToAttempt(room.id)" class="btn btn-primary fw-bold" style="background-color: #332588; color: white;">Attempt</button>
            </div>

            <div *ngIf="room.name === 'English'" class="quiz-actions d-flex flex-column align-items-center gap-2">
                <button (click)="goToContinue(room.id)" class="btn btn-primary fw-bold" style="background-color: #332588; color: white;">Continue</button>
            </div>
        </div>
    </div>

    <div class="d-flex mt-5">
        <div class="ms-auto">
            <button (click)="goHome()" class="btn btn-primary fw-bold me-4 w-100" style="background-color: #332588;color: white;">
        Exit
      </button>
        </div>
    </div>
</div>
