<section class="container py-5 text-white  mt-4" style="background: #276FBF; color: white;">
    <div class="row align-items-center flex-column text-center">
        <h1 class="fw-bold ">Test Your Skills and Knowledge <br> <span class="fw-bold">with Expert Quizzes</span></h1>
        <p class="mx-auto fw-bold" style="max-width: 500px; line-height: 1.5; ">
            QZ help students learn and engage with subjects in a fun <br>
            and challenging way, expanding general knowledge and <br>
            encouraging critical thinking.
        </p>
        <div class="d-flex justify-content-center align-items-center mt-4">
            <!-- <button class="btn  me-3" style="background: #150578;color: white;">Sign Up For Free →</button> -->
            <img src="/photo/undraw_Online_test_re_kyfx-removebg-preview 1.png" alt="Hero Image" class="hero-image img-fluid" />
        </div>
    </div>
</section>

<section class="container py-5">
    <div class="card border rounded-4 p-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="fw-bold text-start">Welcome to QZ</h2>
                <p class="text-start fw-bold">
                    Your Website for Fun and Learning! <br>
                    Discover a wide range of quizzes that challenge <br>
                    your knowledge and entertain you at the same time. <br>
                    From general knowledge and pop culture to science <br>
                    and technology, we have something for everyone. <br>
                    Whether you're looking to compete with friends or <br>
                    learn something new in an interactive way, Quizat <br>
                    has the perfect quiz for you. Start exploring now <br>
                    and put your knowledge to the test!
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="/photo/welcomePng.png" alt="Welcome Image" class="img-fluid rounded">
            </div>
        </div>
    </div>
</section>

<section class="container py-2">
    <div class="card border rounded-4 p-5">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-md-6">
                <h2 class="fw-bold text-start ">Create Quiz</h2>
                <p class="text-start fw-bold">
                    The "Create Quiz" feature allows users to design<br>
                    customized quizzes with ease, selecting from a <br>
                    variety of question types.
                    It enhances engagement<br>
                    by offering an interactive way to test knowledge.<br>
                    This feature is ideal for educators and learners.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="/photo/undraw_Online_test_re_kyfx-removebg-preview 1.png" alt="Create Quiz Image" class="img-fluid rounded">
            </div>
        </div>
    </div>
</section>

<section class="container py-5 text-center">
    <h3 class="fw-bold text-start ">What we Offer?</h3>
    <div class=" row justify-content-center mt-4">
        <div class="  col-md-4 mb-3 d-flex">
            <div class=" fc p-4 rounded shadow-sm w-100 d-flex flex-column h-100 " >
                <span class="icon d-flex">
                    <img src="/photo/material-symbols_picture-as-pdf.png" alt="Icon" class="img-fluid" style="max-width: 30px;">
                </span>
                <h4 class="fw-bold mb-3" style="color: white;">Create Quizzes from PDFs</h4>
                <p class="fw-bold" style="color: white;">
                    Effortlessly create quizzes by uploading a PDF.
                    Our platform extracts questions to design a custom quiz in just minutes.
                </p>
            </div>
        </div>

        <div class="col-md-4 mb-3 d-flex">
            <div class=" sc p-4 rounded shadow-sm w-100 d-flex flex-column h-100 border">
                <span class="icon d-flex">
                    <img src="/photo/bi_question-circle-fill.png" alt="Icon" class="img-fluid" style="max-width: 30px;">
                </span>
                <h4 class="fw-bold mb-3" style="color: #276FBF;">Different Level Question</h4>
                <p class="fw-bold" style="color: #276FBF;">
                    Explore quizzes designed for all skill levels.
                    Easy for beginners, Medium for intermediate challenges,
                    and Hard to push the limits of your knowledge!
                </p>
            </div>
        </div>

        <div class="col-md-4 mb-3 d-flex">
            <div class=" tc p-4 rounded shadow-sm w-100">
                <span class="icon d-flex">
                    <img src="/photo/fluent-mdl2_personalize.png" alt="Icon" class="img-fluid" style="max-width: 30px;">
                </span>
                <h4 class="fw-bold mb-3" style="color: white;">Personalized Quiz Creation</h4>
                <p class="fw-bold" style="color: white;">
                    Create custom quizzes with ease. Upload your content,
                    and our platform designs a quiz tailored to your needs,
                    saving you time and effort!
                </p>
            </div>
        </div>

    </div>
</section>

<section>
    <svg height="150" width="100%" viewBox="0 0 1200 120" preserveaspectratio="none">
        <path d="M0,0 C50,150 330,30 500,40 C660,50 800,120 1090,40 C1300,0 1200,100 1200,30 L1200,120 L0,120 Z"
            fill="#276FBF" />

    </svg>
</section>